Tower
Features
Pricing
Support
Learn Git
Blog
Download
Tower 13 for Mac (Beta) – Introducing Graphite Support
.gitignore Generator
The .gitignore generator is a tool that helps you quickly generate your .gitignore file adapted to your specific project needs so that the unnecessary files and directories are correctly ignored by Git.

Start typing to search...
maven
java
eclipse
# .gitignore file created for free with Tower (https://www.git-tower.com/)
# For suggestions or improvements please contact us using support@git-tower.com
# Generated on 2025-05-05
# Includes: maven, java, eclipse

### Universal ###
# Common files that should be ignored in all projects

# Logs
*.log
# Temporary files
*.tmp
*~

*.bak
# Environment files (containing secrets, API keys, credentials)
.env
*.env
.env.*

# Local configuration that shouldn't be shared
*.local

### Maven ###
# Maven build tool files and directories

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd
.m2/

*.war
*.ear
*.jar
*.nar
.project

.classpath
.settings/
maven-status/
maven-archiver/
generated-sources/

generated-test-sources/
maven-compiler-plugin/
maven-metadata.xml
maven-metadata-local.xml
.maven-classpath

*.versionsBackup
maven-eclipse.xml

### Maven ###
# Maven package manager repository files

# Maven
.m2/
repository/
.mvn/
maven/

.maven/
maven-repository/
.maven-cache/
maven-metadata-local.xml
.maven_repos/

### Java ###
# Java compiled files, build directories, and IDE files

*.class
*.log
*.ctxt
.mtj.tmp/
*.jar

*.war
*.nar
*.ear
*.zip
*.tar.gz

*.rar
hs_err_pid*
replay_pid*
.classpath
.project

.settings/
target/
bin/
build/
.settings/

*.launch
.apt_generated/
.factorypath
.springBeans

### Eclipse ###
# Eclipse IDE specific files and settings

# Eclipse
.metadata
bin/
tmp/
*.tmp

*.bak
*.swp
*~.nib
local.properties
.settings/

.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch

.classpath
.factorypath
.buildpath
.target
.tern-project

.springBeans
.recommenders/
.apt_generated/
.apt_generated_test/
.cache-main

.scala_dependencies
.worksheet
.autotools
.cproject
.sts4-cache/

.pydevproject
.texlipse
*_flymake.*
Here's a message from our users...
When it comes to Git, Tower does all the heavy lifting for you... and our users appreciate it!

Ben Gotow
I use @gittower and it’s so nice - I think my 2 faves are: drag and drop commits to cherry pick between branches, and rapidly selecting lines within files to commit so I can break a single pile of changes into several well described commits fast!

Ben Gotow

Iván Cabezon
To me having a GUI is much quicker, in @gittower you can use a 3 key shortcut instead of typing a full sentence or even drag and drop if you don’t know the command yet 🙂, the diff is perfect and the image diff is 💖. You should give it a try! And the undo option is also 😍

Iván Cabezon

Manuel Molina
Being able to drag and drop commits in @gittower and that it does an interactive rebase in the background is absolutely FABULOUS! Not sure why people like to type weird commands in a terminal.

Manuel Molina

sr
Just used @gittower's new Reflog feature to restore a commit I accidentally deleted. Having done this before using command line, using Tower has simplified the process ten fold - just drag and drop.

sr

Thibault
The ability to drag and drop commits in Tower (@gitTower) to re-order commits is so powerful ! I would like to see a guy with his Terminal doing that in less time than Tower 😉 haha

Thibault

Shane Armitage
I don't typically drag and drop branches in @gittower but was pleasantly surprised to learn the alt key switches between MERGE and REBASE.

Shane Armitage

Peter Friese
I am a big fan of @gittower. I *love* how it allows you to use drag and drop to merge branches - so intuitive!

Peter Friese

Russell Norris
ooh i just used @gittower beta to drag-drop squash commits! so nice!

Russell Norris

Ortwin Gentz
My favorite feature is rebase via drag and drop. #gittower

Ortwin Gentz

This is Just the Beginning
There's so much more you can do with Tower!



Watch this series of videos and learn how Tower can make you even more efficient and productive in Git.

All features, 30 days for free!

Try Tower now and see why it's the tool of choice for thousands of professionals all over the world.


Also available for macOS

Tower
Download for macOS
Download for Windows
Releases
Pricing
Beta Channel

Use Cases
Developers
Designers
Teams
Enterprise
Students
Teachers & Universities

Features
Easy
Powerful
Productive
 
New Features
All Features
Integrations
CLI vs GUI
Stacked Pull Requests

Free Tools
.gitignore Generator

Support
Help Center
Documentation
Learn Git
Newsletter
Contact Us

Company
About
Blog
Press
Jobs
Merch
Affiliate Program

Legal
License Agreement
Privacy Policy
Privacy Settings
Imprint
© 2010-2025 Tower - Mentioned product names and logos are property of their respective owners.